.org-combo .data-\[selected\=\'true\'\]\:bg-accent[data-selected="true"] {
  background-color: var(--primary-hover-color) !important;
  cursor: pointer;
}

.org-combo svg {
  color: white;
}

.org-combo-command > div {
  border-color: var(--primary-border-color);
}

.app-children-layout{
  width: calc(100% - 260px);
}